{
	"root": true,
	"env": {
		"commonjs": true,
		"es2024": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:sonarjs/recommended"],
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"requireConfigFile": false
	},
	"plugins": ["@stylistic", "@stylistic/ts", "import", "sonarjs"],
	"rules": {
		"@stylistic/arrow-parens": [
			1,
			"as-needed",
			{
				"requireForBlockBody": true
			}
		],
		"@stylistic/comma-dangle": [1, "always-multiline"],
		"@stylistic/indent": [1, "tab"],
		"@stylistic/semi": [
			1,
			"always",
			{
				"beforeStatementContinuationChars": "always"
			}
		],
		"@stylistic/semi-spacing": [
			1,
			{
				"before": false,
				"after": false
			}
		],
		"@stylistic/no-extra-semi": 1,
		"@stylistic/ts/member-delimiter-style": 1,
		"sort-imports": [
			1,
			{
				"memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
			}
		],
		"sort-keys": [
			1,
			"asc",
			{
				"caseSensitive": true,
				"natural": true,
				"minKeys": 2
			}
		],
		"sort-vars": 2
	},
	"overrides": [
		{
			"files": ["*.ts"],
			"parser": "@typescript-eslint/parser",
			"rules": {
				"no-unused-vars": "off"
			}
		}
	],
	"settings": {
		"json/sort-package-json": "standard",
		"json/ignore-files": ["**/package-lock.json"],
		"json/json-with-comments-files": [".config/**"]
	}
}
