:root {
	--clr-red: #ff0000;
	--clr-pink: #ffc0cb;
	--clr-purple: #800080;
	--clr-violet: #8f00ff;
	--clr-indigo: #4b0082;
	--clr-blue: #0000ff;
	--clr-light-blue: #add8e6;
	--clr-cyan: #00ffff;
	--clr-teal: #008080;
	--clr-green: #008000;
	--clr-light-green: #90ee90;
	--clr-lime: #00ff00;
	--clr-yellow: #ffff00;
	--clr-amber: #ffbf00;
	--clr-orange: #ffa500;
	--clr-deep-orange: #ff4500;
	--clr-brown: #a52a2a;
	--clr-grey: #808080;
	--clr-blue-grey: #8c92ac;
}