:root {

	/* Red */

	--clr-red: #ff0000;
	--clr-red-50: #fff8f8;
	--clr-red-o: rgba(130, 54, 54, 0.1);
	--clr-red-100: #ffc1c1;
	--clr-red-o: rgba(161, 40, 40, 0.30000000000000004);
	--clr-red-200: #ff8484;
	--clr-red-o: rgba(193, 27, 27, 0.5);
	--clr-red-300: #ff4949;
	--clr-red-o: rgba(224, 13, 13, 0.7000000000000001);
	--clr-red-400: #ff1616;
	--clr-red-o: rgba(255, 0, 0, 0.9);
	--clr-red-500: #f20000;
	--clr-red-600: #c10000;
	--clr-red-700: #970000;
	--clr-red-800: #740000;
	--clr-red-900: #590000;
	--clr-red-A100: #ffd17e;
	--clr-red-A200: #ff7f44;
	--clr-red-A400: #ff2620;
	--clr-red-A700: #e70000;

	/* Pink */

	--clr-pink: #ffc0cb;
	--clr-pink-50: #fcf9fa;
	--clr-pink-o: rgba(225, 206, 209, 0.1);
	--clr-pink-100: #f9eff1;
	--clr-pink-o: rgba(232, 203, 208, 0.30000000000000004);
	--clr-pink-200: #fae5e8;
	--clr-pink-o: rgba(240, 199, 206, 0.5);
	--clr-pink-300: #fcd9df;
	--clr-pink-o: rgba(247, 196, 205, 0.7000000000000001);
	--clr-pink-400: #ffccd5;
	--clr-pink-o: rgba(255, 192, 203, 0.9);
	--clr-pink-500: #fbacba;
	--clr-pink-600: #de7083;
	--clr-pink-700: #b94a5e;
	--clr-pink-800: #943244;
	--clr-pink-900: #752331;
	--clr-pink-A100: #ffffff;
	--clr-pink-A200: #ffe6f0;
	--clr-pink-A400: #ffb4c9;
	--clr-pink-A700: #e77194;

	/* Purple */

	--clr-purple: #800080;
	--clr-purple-50: #fdf8fd;
	--clr-purple-o: rgba(75, 37, 75, 0.1);
	--clr-purple-100: #f2bdf2;
	--clr-purple-o: rgba(88, 28, 88, 0.30000000000000004);
	--clr-purple-200: #ee7dee;
	--clr-purple-o: rgba(102, 18, 102, 0.5);
	--clr-purple-300: #e342e3;
	--clr-purple-o: rgba(115, 9, 115, 0.7000000000000001);
	--clr-purple-400: #c813c8;
	--clr-purple-o: rgba(128, 0, 128, 0.9);
	--clr-purple-500: #780078;
	--clr-purple-600: #5d005d;
	--clr-purple-700: #470047;
	--clr-purple-800: #360036;
	--clr-purple-900: #290029;
	--clr-purple-A100: #ffbaff;
	--clr-purple-A200: #db73f9;
	--clr-purple-A400: #b141af;
	--clr-purple-A700: #72005a;

	/* Violet */

	--clr-violet: #8f00ff;
	--clr-violet-50: #fcf8ff;
	--clr-violet-o: rgba(93, 50, 126, 0.1);
	--clr-violet-100: #edc0ff;
	--clr-violet-o: rgba(105, 37, 158, 0.30000000000000004);
	--clr-violet-200: #e483ff;
	--clr-violet-o: rgba(118, 25, 191, 0.5);
	--clr-violet-300: #d848ff;
	--clr-violet-o: rgba(130, 12, 223, 0.7000000000000001);
	--clr-violet-400: #c316ff;
	--clr-violet-o: rgba(143, 0, 255, 0.9);
	--clr-violet-500: #8700f2;
	--clr-violet-600: #6900c0;
	--clr-violet-700: #510096;
	--clr-violet-800: #3e0073;
	--clr-violet-900: #2f0058;
	--clr-violet-A100: #ffb9ff;
	--clr-violet-A200: #f272ff;
	--clr-violet-A400: #cc3bff;
	--clr-violet-A700: #9000ab;

	/* Indigo */

	--clr-indigo: #4b0082;
	--clr-indigo-50: #fcf8fe;
	--clr-indigo-o: rgba(48, 26, 65, 0.1);
	--clr-indigo-100: #e6baff;
	--clr-indigo-o: rgba(55, 19, 81, 0.30000000000000004);
	--clr-indigo-200: #d379ff;
	--clr-indigo-o: rgba(62, 13, 97, 0.5);
	--clr-indigo-300: #bb3dff;
	--clr-indigo-o: rgba(68, 6, 114, 0.7000000000000001);
	--clr-indigo-400: #9310f3;
	--clr-indigo-o: rgba(75, 0, 130, 0.9);
	--clr-indigo-500: #46007a;
	--clr-indigo-600: #35005e;
	--clr-indigo-700: #280047;
	--clr-indigo-800: #1e0036;
	--clr-indigo-900: #170029;
	--clr-indigo-A100: #e2b7ff;
	--clr-indigo-A200: #a570ff;
	--clr-indigo-A400: #813fc2;
	--clr-indigo-A700: #470067;

	/* Blue */

	--clr-blue: #0000ff;
	--clr-blue-50: #f8f8ff;
	--clr-blue-o: rgba(20, 20, 96, 0.1);
	--clr-blue-100: #b9b9ff;
	--clr-blue-o: rgba(15, 15, 136, 0.30000000000000004);
	--clr-blue-200: #7676ff;
	--clr-blue-o: rgba(10, 10, 176, 0.5);
	--clr-blue-300: #3b3bff;
	--clr-blue-o: rgba(5, 5, 215, 0.7000000000000001);
	--clr-blue-400: #0f0fff;
	--clr-blue-o: rgba(0, 0, 255, 0.9);
	--clr-blue-500: #0000ef;
	--clr-blue-600: #0000b7;
	--clr-blue-700: #00008b;
	--clr-blue-800: #000069;
	--clr-blue-900: #00004f;
	--clr-blue-A100: #ffb2ff;
	--clr-blue-A200: #cd69ff;
	--clr-blue-A400: #a832ef;
	--clr-blue-A700: #6b0092;

	/* Light Blue */

	--clr-light-blue: #add8e6;
	--clr-light-blue-50: #f9fafb;
	--clr-light-blue-o: rgba(195, 208, 212, 0.1);
	--clr-light-blue-100: #ecf3f5;
	--clr-light-blue-o: rgba(190, 210, 217, 0.30000000000000004);
	--clr-light-blue-200: #deecf1;
	--clr-light-blue-o: rgba(184, 212, 221, 0.5);
	--clr-light-blue-300: #cee6ee;
	--clr-light-blue-o: rgba(179, 214, 226, 0.7000000000000001);
	--clr-light-blue-400: #bce0ec;
	--clr-light-blue-o: rgba(173, 216, 230, 0.9);
	--clr-light-blue-500: #99ccdd;
	--clr-light-blue-600: #5da0b5;
	--clr-light-blue-700: #397b91;
	--clr-light-blue-800: #245e71;
	--clr-light-blue-900: #174757;
	--clr-light-blue-A100: #cfffff;
	--clr-light-blue-A200: #baffff;
	--clr-light-blue-A400: #b5d3e4;
	--clr-light-blue-A700: #9a95ad;

	/* Cyan */

	--clr-cyan: #00ffff;
	--clr-cyan-50: #f5fcfc;
	--clr-cyan-o: rgba(125, 201, 201, 0.1);
	--clr-cyan-100: #d0f8f8;
	--clr-cyan-o: rgba(94, 215, 215, 0.30000000000000004);
	--clr-cyan-200: #9ff9f9;
	--clr-cyan-o: rgba(62, 228, 228, 0.5);
	--clr-cyan-300: #66fdfd;
	--clr-cyan-o: rgba(31, 242, 242, 0.7000000000000001);
	--clr-cyan-400: #27ffff;
	--clr-cyan-o: rgba(0, 255, 255, 0.9);
	--clr-cyan-500: #00f9f9;
	--clr-cyan-600: #00d7d7;
	--clr-cyan-700: #00b0b0;
	--clr-cyan-800: #008c8c;
	--clr-cyan-900: #006e6e;
	--clr-cyan-A100: #00ffff;
	--clr-cyan-A200: #00ffff;
	--clr-cyan-A400: #00f7f5;
	--clr-cyan-A700: #00babf;

	/* Teal */

	--clr-teal: #008080;
	--clr-teal-50: #f8fbfb;
	--clr-teal-o: rgba(63, 101, 101, 0.1);
	--clr-teal-100: #c3e4e4;
	--clr-teal-o: rgba(47, 108, 108, 0.30000000000000004);
	--clr-teal-200: #88d0d0;
	--clr-teal-o: rgba(31, 115, 115, 0.5);
	--clr-teal-300: #4dbcbc;
	--clr-teal-o: rgba(16, 121, 121, 0.7000000000000001);
	--clr-teal-400: #19a5a5;
	--clr-teal-o: rgba(0, 128, 128, 0.9);
	--clr-teal-500: #007979;
	--clr-teal-600: #005d5d;
	--clr-teal-700: #004747;
	--clr-teal-800: #003636;
	--clr-teal-900: #002929;
	--clr-teal-A100: #29ffff;
	--clr-teal-A200: #24d0c9;
	--clr-teal-A400: #3b9e9e;
	--clr-teal-A700: #295d62;

	/* Green */

	--clr-green: #008000;
	--clr-green-50: #f8fbf8;
	--clr-green-o: rgba(53, 91, 53, 0.1);
	--clr-green-100: #c1e7c1;
	--clr-green-o: rgba(40, 100, 40, 0.30000000000000004);
	--clr-green-200: #84d684;
	--clr-green-o: rgba(26, 110, 26, 0.5);
	--clr-green-300: #49c549;
	--clr-green-o: rgba(13, 119, 13, 0.7000000000000001);
	--clr-green-400: #16ad16;
	--clr-green-o: rgba(0, 128, 0, 0.9);
	--clr-green-500: #007900;
	--clr-green-600: #005d00;
	--clr-green-700: #004800;
	--clr-green-800: #003700;
	--clr-green-900: #002900;
	--clr-green-A100: #28ff93;
	--clr-green-A200: #16d455;
	--clr-green-A400: #2da12a;
	--clr-green-A700: #135f00;

	/* Light Green */

	--clr-light-green: #90ee90;
	--clr-light-green-50: #f8fbf8;
	--clr-light-green-o: rgba(183, 211, 183, 0.1);
	--clr-light-green-100: #e8f6e8;
	--clr-light-green-o: rgba(173, 218, 173, 0.30000000000000004);
	--clr-light-green-200: #d4f3d4;
	--clr-light-green-o: rgba(163, 225, 163, 0.5);
	--clr-light-green-300: #bdf2bd;
	--clr-light-green-o: rgba(154, 231, 154, 0.7000000000000001);
	--clr-light-green-400: #a4f3a4;
	--clr-light-green-o: rgba(144, 238, 144, 0.9);
	--clr-light-green-500: #79e679;
	--clr-light-green-600: #3ac33a;
	--clr-light-green-700: #199e19;
	--clr-light-green-800: #087c08;
	--clr-light-green-900: #016101;
	--clr-light-green-A100: #8effe6;
	--clr-light-green-A200: #82ffaf;
	--clr-light-green-A400: #86e98b;
	--clr-light-green-A700: #72ac59;

	/* Lime */

	--clr-lime: #00ff00;
	--clr-lime-50: #f6fcf6;
	--clr-lime-o: rgba(105, 182, 105, 0.1);
	--clr-lime-100: #ccf8cc;
	--clr-lime-o: rgba(79, 200, 79, 0.30000000000000004);
	--clr-lime-200: #99fb99;
	--clr-lime-o: rgba(53, 218, 53, 0.5);
	--clr-lime-300: #5fff5f;
	--clr-lime-o: rgba(26, 237, 26, 0.7000000000000001);
	--clr-lime-400: #22ff22;
	--clr-lime-o: rgba(0, 255, 0, 0.9);
	--clr-lime-500: #00f700;
	--clr-lime-600: #00d100;
	--clr-lime-700: #00a900;
	--clr-lime-800: #008600;
	--clr-lime-900: #006800;
	--clr-lime-A100: #00ff7e;
	--clr-lime-A200: #00ff3f;
	--clr-lime-A400: #3cf600;
	--clr-lime-A700: #2fb900;

	/* Yellow */

	--clr-yellow: #ffff00;
	--clr-yellow-50: #fcfcec;
	--clr-yellow-o: rgba(235, 235, 159, 0.1);
	--clr-yellow-100: #faface;
	--clr-yellow-o: rgba(240, 240, 119, 0.30000000000000004);
	--clr-yellow-200: #fbfba4;
	--clr-yellow-o: rgba(245, 245, 79, 0.5);
	--clr-yellow-300: #fcfc6f;
	--clr-yellow-o: rgba(250, 250, 40, 0.7000000000000001);
	--clr-yellow-400: #ffff2f;
	--clr-yellow-o: rgba(255, 255, 0, 0.9);
	--clr-yellow-500: #fcfc00;
	--clr-yellow-600: #e1e100;
	--clr-yellow-700: #bcbc00;
	--clr-yellow-800: #989800;
	--clr-yellow-900: #787800;
	--clr-yellow-A100: #ffffc7;
	--clr-yellow-A200: #ffff74;
	--clr-yellow-A400: #edef14;
	--clr-yellow-A700: #b6ba00;

	/* Amber */

	--clr-amber: #ffbf00;
	--clr-amber-50: #fcfaf4;
	--clr-amber-o: rgba(209, 190, 132, 0.1);
	--clr-amber-100: #f8eed1;
	--clr-amber-o: rgba(220, 190, 99, 0.30000000000000004);
	--clr-amber-200: #f9e3a2;
	--clr-amber-o: rgba(232, 190, 66, 0.5);
	--clr-amber-300: #fcd769;
	--clr-amber-o: rgba(243, 191, 33, 0.7000000000000001);
	--clr-amber-400: #ffcc28;
	--clr-amber-o: rgba(255, 191, 0, 0.9);
	--clr-amber-500: #fab200;
	--clr-amber-600: #d98600;
	--clr-amber-700: #b36400;
	--clr-amber-800: #8f4b00;
	--clr-amber-900: #703800;
	--clr-amber-A100: #ffffb3;
	--clr-amber-A200: #ffe65d;
	--clr-amber-A400: #ffbe00;
	--clr-amber-A700: #c18900;

	/* Orange */

	--clr-orange: #ffa500;
	--clr-orange-50: #fcfaf5;
	--clr-orange-o: rgba(198, 171, 122, 0.1);
	--clr-orange-100: #f8eacf;
	--clr-orange-o: rgba(212, 170, 91, 0.30000000000000004);
	--clr-orange-200: #f9d99e;
	--clr-orange-o: rgba(227, 168, 61, 0.5);
	--clr-orange-300: #fec865;
	--clr-orange-o: rgba(241, 167, 30, 0.7000000000000001);
	--clr-orange-400: #ffb626;
	--clr-orange-o: rgba(255, 165, 0, 0.9);
	--clr-orange-500: #f99800;
	--clr-orange-600: #d66e00;
	--clr-orange-700: #af5100;
	--clr-orange-800: #8b3b00;
	--clr-orange-900: #6d2b00;
	--clr-orange-A100: #ffffac;
	--clr-orange-A200: #ffd255;
	--clr-orange-A400: #ffaa00;
	--clr-orange-A700: #c57300;

	/* Deep Orange */

	--clr-deep-orange: #ff4500;
	--clr-deep-orange-50: #fdf9f7;
	--clr-deep-orange-o: rgba(159, 103, 82, 0.1);
	--clr-deep-orange-100: #fcd6c7;
	--clr-deep-orange-o: rgba(183, 94, 62, 0.30000000000000004);
	--clr-deep-orange-200: #ffaf90;
	--clr-deep-orange-o: rgba(207, 86, 41, 0.5);
	--clr-deep-orange-300: #ff8855;
	--clr-deep-orange-o: rgba(231, 77, 21, 0.7000000000000001);
	--clr-deep-orange-400: #ff611d;
	--clr-deep-orange-o: rgba(255, 69, 0, 0.9);
	--clr-deep-orange-500: #f53e00;
	--clr-deep-orange-600: #ca2700;
	--clr-deep-orange-700: #a11900;
	--clr-deep-orange-800: #7e1100;
	--clr-deep-orange-900: #610b00;
	--clr-deep-orange-A100: #ffd881;
	--clr-deep-orange-A200: #ff8648;
	--clr-deep-orange-A400: #ff3424;
	--clr-deep-orange-A700: #f20000;

	/* Brown */

	--clr-brown: #a52a2a;
	--clr-brown-50: #fcf9f9;
	--clr-brown-o: rgba(105, 68, 68, 0.1);
	--clr-brown-100: #f1cdcd;
	--clr-brown-o: rgba(120, 61, 61, 0.30000000000000004);
	--clr-brown-200: #ec9f9f;
	--clr-brown-o: rgba(135, 55, 55, 0.5);
	--clr-brown-300: #e57171;
	--clr-brown-o: rgba(150, 48, 48, 0.7000000000000001);
	--clr-brown-400: #d64747;
	--clr-brown-o: rgba(165, 42, 42, 0.9);
	--clr-brown-500: #9c2626;
	--clr-brown-600: #7b1a1a;
	--clr-brown-700: #5f1212;
	--clr-brown-800: #490c0c;
	--clr-brown-900: #370909;
	--clr-brown-A100: #ffceb3;
	--clr-brown-A200: #ff7e75;
	--clr-brown-A400: #e7374d;
	--clr-brown-A700: #a8001c;

	/* Grey */

	--clr-grey: #808080;
	--clr-grey-50: #fafafa;
	--clr-grey-o: rgba(128, 128, 128, 0.1);
	--clr-grey-100: #e2e2e2;
	--clr-grey-o: rgba(128, 128, 128, 0.30000000000000004);
	--clr-grey-200: #cacaca;
	--clr-grey-o: rgba(128, 128, 128, 0.5);
	--clr-grey-300: #b2b2b2;
	--clr-grey-o: rgba(128, 128, 128, 0.7000000000000001);
	--clr-grey-400: #999999;
	--clr-grey-o: rgba(128, 128, 128, 0.9);
	--clr-grey-500: #777777;
	--clr-grey-600: #595959;
	--clr-grey-700: #424242;
	--clr-grey-800: #313131;
	--clr-grey-900: #252525;
	--clr-grey-A100: #d8ffff;
	--clr-grey-A200: #b6c8c3;
	--clr-grey-A400: #a59499;
	--clr-grey-A700: #7d5260;

	/* Blue Grey */

	--clr-blue-grey: #8c92ac;
	--clr-blue-grey-50: #fafafb;
	--clr-blue-grey-o: rgba(145, 147, 155, 0.1);
	--clr-blue-grey-100: #e4e5ea;
	--clr-blue-grey-o: rgba(144, 147, 159, 0.30000000000000004);
	--clr-blue-grey-200: #cfd1db;
	--clr-blue-grey-o: rgba(142, 146, 163, 0.5);
	--clr-blue-grey-300: #b8bccd;
	--clr-blue-grey-o: rgba(141, 146, 168, 0.7000000000000001);
	--clr-blue-grey-400: #a2a8c0;
	--clr-blue-grey-o: rgba(140, 146, 172, 0.9);
	--clr-blue-grey-500: #8288a2;
	--clr-blue-grey-600: #5f657f;
	--clr-blue-grey-700: #464b61;
	--clr-blue-grey-800: #34384a;
	--clr-blue-grey-900: #262a38;
	--clr-blue-grey-A100: #daffff;
	--clr-blue-grey-A200: #bbd3ea;
	--clr-blue-grey-A400: #ada0bf;
	--clr-blue-grey-A700: #885e85;
}