
@property --clr-black {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.8851rad 8.84% 89.75% / 1);
}
@property --clr-white {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.0944rad 100% none / 1);
}
@property --clr-red {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.03948rad 13.33% 31.06% / 1);
}
@property --clr-red-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.25277rad 132.89% 32.48% / 1);
}
@property --clr-red-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.13078rad 76.51% none / 1);
}
@property --clr-red-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.1138rad 54.73% none / 1);
}
@property --clr-red-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.09173rad 37.15% 2.94% / 1);
}
@property --clr-red-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.07521rad 25.5% 16.9% / 1);
}
@property --clr-red-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.04121rad 13.72% 30.64% / 1);
}
@property --clr-red-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.1954rad none 44.18% / 1);
}
@property --clr-red-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.19121rad none 61.4% / 1);
}
@property --clr-red-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.20709rad none 78.31% / 1);
}
@property --clr-red-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.21826rad none 93.27% / 1);
}
@property --clr-red-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.038rad 52.46% none / 1);
}
@property --clr-red-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.2769rad 43.5% none / 1);
}
@property --clr-red-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.97688rad none none / 1);
}
@property --clr-red-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.93028rad none 21.39% / 1);
}
@property --clr-pink {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.88717rad 60.87% 5.71% / 1);
}
@property --clr-pink-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.92627rad 88.27% none / 1);
}
@property --clr-pink-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.90899rad 78.43% none / 1);
}
@property --clr-pink-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.88839rad 62.78% 3.62% / 1);
}
@property --clr-pink-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.87949rad 50.64% 16.95% / 1);
}
@property --clr-pink-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.8671rad 38.88% 29.98% / 1);
}
@property --clr-pink-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.8493rad 27.49% 42.69% / 1);
}
@property --clr-pink-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.8198rad 16.34% 55.08% / 1);
}
@property --clr-pink-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.75365rad 4.36% 67.14% / 1);
}
@property --clr-pink-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.73777rad none 79.46% / 1);
}
@property --clr-pink-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.95rad none 93.76% / 1);
}
@property --clr-pink-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.85837rad 55.58% none / 1);
}
@property --clr-pink-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.82678rad 44.31% none / 1);
}
@property --clr-pink-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.6334rad none none / 1);
}
@property --clr-pink-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.62973rad none 20.52% / 1);
}
@property --clr-purple {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.42832rad 17.8% 24.84% / 1);
}
@property --clr-purple-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.54439rad 87.73% none / 1);
}
@property --clr-purple-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.52519rad 77.18% none / 1);
}
@property --clr-purple-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.47894rad 53.04% none / 1);
}
@property --clr-purple-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.45538rad 36.24% 6.93% / 1);
}
@property --clr-purple-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.43635rad 22.49% 20.66% / 1);
}
@property --clr-purple-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.39621rad 2.37% 34.17% / 1);
}
@property --clr-purple-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.37509rad none 49.28% / 1);
}
@property --clr-purple-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.38329rad none 65.79% / 1);
}
@property --clr-purple-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.40616rad none 81.02% / 1);
}
@property --clr-purple-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.5135rad none 94.53% / 1);
}
@property --clr-purple-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.48121rad 53.76% none / 1);
}
@property --clr-purple-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.45625rad 40.74% none / 1);
}
@property --clr-purple-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.36828rad none none / 1);
}
@property --clr-purple-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.37108rad none 22.79% / 1);
}
@property --clr-violet {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.85079rad 10.86% 11.01% / 1);
}
@property --clr-violet-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.61939rad 146.53% 29.07% / 1);
}
@property --clr-violet-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.62398rad 139.23% 35.81% / 1);
}
@property --clr-violet-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.73752rad 63.13% none / 1);
}
@property --clr-violet-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.77644rad 42.26% none / 1);
}
@property --clr-violet-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.82077rad 21.89% 3.37% / 1);
}
@property --clr-violet-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.90752rad none 17.08% / 1);
}
@property --clr-violet-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.90734rad none 37.31% / 1);
}
@property --clr-violet-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.89163rad none 57.04% / 1);
}
@property --clr-violet-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.84835rad none 75.24% / 1);
}
@property --clr-violet-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.66788rad none 91.52% / 1);
}
@property --clr-violet-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.73805rad 63.87% none / 1);
}
@property --clr-violet-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.73874rad 55.94% none / 1);
}
@property --clr-violet-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.74642rad 38.57% none / 1);
}
@property --clr-violet-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.84783rad none none / 1);
}
@property --clr-indigo {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.46141rad 7.98% 55.91% / 1);
}
@property --clr-indigo-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.09764rad 130.13% 12.13% / 1);
}
@property --clr-indigo-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.10209rad 123.1% 18.63% / 1);
}
@property --clr-indigo-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.24324rad 69.51% none / 1);
}
@property --clr-indigo-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.26873rad 56.17% 4.37% / 1);
}
@property --clr-indigo-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.28845rad 44.07% 17.67% / 1);
}
@property --clr-indigo-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.31742rad 32.28% 30.67% / 1);
}
@property --clr-indigo-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.36472rad 20.64% 43.35% / 1);
}
@property --clr-indigo-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.45879rad 8.23% 55.69% / 1);
}
@property --clr-indigo-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.57433rad none 69.59% / 1);
}
@property --clr-indigo-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.41446rad none 88.91% / 1);
}
@property --clr-indigo-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.32851rad 160.32% 56.7% / 1);
}
@property --clr-indigo-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.26419rad 62.94% none / 1);
}
@property --clr-indigo-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.23574rad 50.21% none / 1);
}
@property --clr-indigo-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.16889rad 27.97% none / 1);
}
@property --clr-blue {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.1565rad 29.4% 25.25% / 1);
}
@property --clr-blue-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.91906rad 138.38% 18.07% / 1);
}
@property --clr-blue-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.92342rad 131.22% 24.3% / 1);
}
@property --clr-blue-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.05004rad 66.21% none / 1);
}
@property --clr-blue-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.09123rad 51.93% none / 1);
}
@property --clr-blue-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.11392rad 40.86% 10.42% / 1);
}
@property --clr-blue-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.15074rad 30.51% 23.76% / 1);
}
@property --clr-blue-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.22021rad 19.84% 36.81% / 1);
}
@property --clr-blue-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.3806rad 4.96% 49.56% / 1);
}
@property --clr-blue-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.46403rad none 67.61% / 1);
}
@property --clr-blue-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(4.34273rad none 88.21% / 1);
}
@property --clr-blue-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.86782rad 58.37% none / 1);
}
@property --clr-blue-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.83658rad 48.36% none / 1);
}
@property --clr-blue-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.72453rad 19.31% none / 1);
}
@property --clr-blue-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.45907rad none 30.62% / 1);
}
@property --clr-light-blue {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.52225rad 29.42% none / 1);
}
@property --clr-light-blue-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.56571rad 82.57% none / 1);
}
@property --clr-light-blue-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.5596rad 68.92% none / 1);
}
@property --clr-light-blue-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.5315rad 36.89% none / 1);
}
@property --clr-light-blue-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.50724rad 19.34% 8.34% / 1);
}
@property --clr-light-blue-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.43481rad none 21.48% / 1);
}
@property --clr-light-blue-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.44004rad none 38.12% / 1);
}
@property --clr-light-blue-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.45121rad none 53.86% / 1);
}
@property --clr-light-blue-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.47757rad none 68.54% / 1);
}
@property --clr-light-blue-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.55541rad none 81.89% / 1);
}
@property --clr-light-blue-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.82524rad none 94.04% / 1);
}
@property --clr-light-blue-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.24527rad none 16.03% / 1);
}
@property --clr-light-blue-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.21769rad none 26.45% / 1);
}
@property --clr-light-blue-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.13025rad none 56.24% / 1);
}
@property --clr-light-blue-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.1313rad none 69.85% / 1);
}
@property --clr-cyan {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.11838rad 20.79% 19.14% / 1);
}
@property --clr-cyan-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.10773rad 54.47% none / 1);
}
@property --clr-cyan-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.11245rad 41.58% 2.89% / 1);
}
@property --clr-cyan-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.11698rad 25.48% 15.98% / 1);
}
@property --clr-cyan-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.12588rad none 28.73% / 1);
}
@property --clr-cyan-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.1292rad none 41.13% / 1);
}
@property --clr-cyan-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.12938rad none 54.06% / 1);
}
@property --clr-cyan-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.12938rad none 66.38% / 1);
}
@property --clr-cyan-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.12955rad none 77.96% / 1);
}
@property --clr-cyan-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.1299rad none 88.63% / 1);
}
@property --clr-cyan-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.14002rad none 97.8% / 1);
}
@property --clr-cyan-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.13671rad none 27.32% / 1);
}
@property --clr-cyan-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.13723rad none 33.16% / 1);
}
@property --clr-cyan-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.13845rad none 44.56% / 1);
}
@property --clr-cyan-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.1402rad none 60.88% / 1);
}
@property --clr-teal {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.95327rad 13.71% 41.02% / 1);
}
@property --clr-teal-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.89794rad 61.85% none / 1);
}
@property --clr-teal-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.90213rad 55.26% 3.96% / 1);
}
@property --clr-teal-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.91243rad 42.06% 16.98% / 1);
}
@property --clr-teal-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.92779rad 28.43% 29.64% / 1);
}
@property --clr-teal-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.95659rad 12.19% 41.93% / 1);
}
@property --clr-teal-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.00598rad none 53.81% / 1);
}
@property --clr-teal-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.00092rad none 65.87% / 1);
}
@property --clr-teal-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.98591rad none 77.58% / 1);
}
@property --clr-teal-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.94297rad none 88.37% / 1);
}
@property --clr-teal-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.95227rad 3.72% 104.31% / 1);
}
@property --clr-teal-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.01279rad none 26.66% / 1);
}
@property --clr-teal-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.01174rad none 32.5% / 1);
}
@property --clr-teal-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.0086rad none 43.85% / 1);
}
@property --clr-teal-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.9997rad none 59.95% / 1);
}
@property --clr-green {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.58152rad none 14.34% / 1);
}
@property --clr-green-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.23926rad 69.78% none / 1);
}
@property --clr-green-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.37976rad 28.02% none / 1);
}
@property --clr-green-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.58256rad none 10.36% / 1);
}
@property --clr-green-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.57785rad none 24.86% / 1);
}
@property --clr-green-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.56843rad none 38.84% / 1);
}
@property --clr-green-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.54958rad none 52.23% / 1);
}
@property --clr-green-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.50961rad none 64.94% / 1);
}
@property --clr-green-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.41588rad none 76.88% / 1);
}
@property --clr-green-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.32216rad none 88.05% / 1);
}
@property --clr-green-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.6416rad 4.75% 105.54% / 1);
}
@property --clr-green-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.65883rad none 24.53% / 1);
}
@property --clr-green-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.66826rad none 30.56% / 1);
}
@property --clr-green-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.68571rad none 42.27% / 1);
}
@property --clr-green-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.63091rad none 58.72% / 1);
}
@property --clr-light-green {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.08235rad 43.07% 9.22% / 1);
}
@property --clr-light-green-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.04727rad 70.13% none / 1);
}
@property --clr-light-green-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.0738rad 51.65% 0.3% / 1);
}
@property --clr-light-green-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.08759rad 38.85% 13.56% / 1);
}
@property --clr-light-green-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.11202rad 24.94% 26.5% / 1);
}
@property --clr-light-green-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.20487rad 4.43% 39.09% / 1);
}
@property --clr-light-green-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.17835rad none 51.6% / 1);
}
@property --clr-light-green-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.17869rad none 64.6% / 1);
}
@property --clr-light-green-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.18323rad none 76.83% / 1);
}
@property --clr-light-green-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.17032rad none 88.06% / 1);
}
@property --clr-light-green-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(5.61141rad 3.99% 104.23% / 1);
}
@property --clr-light-green-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.59705rad none 24.06% / 1);
}
@property --clr-light-green-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.61433rad none 30.14% / 1);
}
@property --clr-light-green-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.633rad none 41.92% / 1);
}
@property --clr-light-green-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.52985rad none 58.38% / 1);
}
@property --clr-lime {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.45927rad 17.66% 19.01% / 1);
}
@property --clr-lime-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.51933rad 47.54% none / 1);
}
@property --clr-lime-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.50091rad 36.74% 3.44% / 1);
}
@property --clr-lime-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.46894rad 21.12% 16.6% / 1);
}
@property --clr-lime-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.36558rad none 29.44% / 1);
}
@property --clr-lime-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.36181rad none 42.44% / 1);
}
@property --clr-lime-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.37312rad none 55.17% / 1);
}
@property --clr-lime-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.39422rad none 67.29% / 1);
}
@property --clr-lime-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.44014rad none 78.68% / 1);
}
@property --clr-lime-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.57956rad none 89.17% / 1);
}
@property --clr-lime-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.72805rad none 98.06% / 1);
}
@property --clr-lime-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.64494rad none 23.62% / 1);
}
@property --clr-lime-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.68777rad none 29.35% / 1);
}
@property --clr-lime-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.74952rad none 40.91% / 1);
}
@property --clr-lime-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.5103rad none 59.22% / 1);
}
@property --clr-yellow {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.98808rad none 8.57% / 1);
}
@property --clr-yellow-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.97697rad 23.78% none / 1);
}
@property --clr-yellow-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.98105rad 10.91% 5.47% / 1);
}
@property --clr-yellow-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.99089rad none 18.23% / 1);
}
@property --clr-yellow-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.98889rad none 31.41% / 1);
}
@property --clr-yellow-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.98656rad none 44.27% / 1);
}
@property --clr-yellow-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.98293rad none 56.61% / 1);
}
@property --clr-yellow-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.9767rad none 68.35% / 1);
}
@property --clr-yellow-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.96389rad none 79.39% / 1);
}
@property --clr-yellow-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.92564rad none 89.55% / 1);
}
@property --clr-yellow-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(3.78387rad 4.82% 105.31% / 1);
}
@property --clr-yellow-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.05631rad none 30.79% / 1);
}
@property --clr-yellow-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.0624rad none 36.08% / 1);
}
@property --clr-yellow-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.07556rad none 46.47% / 1);
}
@property --clr-yellow-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.13576rad none 60.89% / 1);
}
@property --clr-amber {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.82701rad none 3.28% / 1);
}
@property --clr-amber-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.74208rad 66.43% none / 1);
}
@property --clr-amber-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.76107rad 35.21% none / 1);
}
@property --clr-amber-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.83929rad none 7.73% / 1);
}
@property --clr-amber-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.83788rad none 22.31% / 1);
}
@property --clr-amber-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.8332rad none 36.56% / 1);
}
@property --clr-amber-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.82493rad none 50.25% / 1);
}
@property --clr-amber-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.80966rad none 63.3% / 1);
}
@property --clr-amber-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.77761rad none 75.6% / 1);
}
@property --clr-amber-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.6866rad none 86.97% / 1);
}
@property --clr-amber-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.45031rad none 97.05% / 1);
}
@property --clr-amber-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.81498rad none 14.81% / 1);
}
@property --clr-amber-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.81411rad none 21.19% / 1);
}
@property --clr-amber-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.82027rad none 34.16% / 1);
}
@property --clr-amber-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(1.0011rad none 59.22% / 1);
}
@property --clr-orange {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.64979rad 11.53% 2.78% / 1);
}
@property --clr-orange-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.56863rad 76.43% none / 1);
}
@property --clr-orange-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.57819rad 57.35% none / 1);
}
@property --clr-orange-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.64057rad 15.16% 0.75% / 1);
}
@property --clr-orange-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.71113rad none 14.79% / 1);
}
@property --clr-orange-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.70665rad none 30.33% / 1);
}
@property --clr-orange-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.69752rad none 45.17% / 1);
}
@property --clr-orange-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.67811rad none 59.26% / 1);
}
@property --clr-orange-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.63397rad none 72.5% / 1);
}
@property --clr-orange-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.50859rad none 84.79% / 1);
}
@property --clr-orange-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.25199rad none 95.98% / 1);
}
@property --clr-orange-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.62806rad none 0.97% / 1);
}
@property --clr-orange-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.62158rad none 7.92% / 1);
}
@property --clr-orange-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.62001rad none 22.28% / 1);
}
@property --clr-orange-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.72937rad none 47.51% / 1);
}
@property --clr-deep-orange {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.44441rad 7.96% 2.25% / 1);
}
@property --clr-deep-orange-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.35362rad 82.81% none / 1);
}
@property --clr-deep-orange-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.35729rad 69.42% none / 1);
}
@property --clr-deep-orange-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.3743rad 38.91% none / 1);
}
@property --clr-deep-orange-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.4567rad 5.06% 3.47% / 1);
}
@property --clr-deep-orange-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.50398rad none 19.79% / 1);
}
@property --clr-deep-orange-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.49222rad none 36.69% / 1);
}
@property --clr-deep-orange-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.4655rad none 52.61% / 1);
}
@property --clr-deep-orange-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.39762rad none 67.4% / 1);
}
@property --clr-deep-orange-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.21831rad none 81.25% / 1);
}
@property --clr-deep-orange-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.04805rad none 94.15% / 1);
}
@property --clr-deep-orange-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24993rad 36.99% none / 1);
}
@property --clr-deep-orange-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24017rad 23.56% none / 1);
}
@property --clr-deep-orange-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.30711rad none 3.25% / 1);
}
@property --clr-deep-orange-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.37193rad none 30.77% / 1);
}
@property --clr-brown {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24476rad 39.63% 23.31% / 1);
}
@property --clr-brown-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24564rad 85.01% none / 1);
}
@property --clr-brown-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24569rad 73.3% none / 1);
}
@property --clr-brown-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.2452rad 56.75% 4.13% / 1);
}
@property --clr-brown-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24492rad 44.88% 17.39% / 1);
}
@property --clr-brown-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24457rad 33.43% 30.34% / 1);
}
@property --clr-brown-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24452rad 22.41% 42.97% / 1);
}
@property --clr-brown-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.24714rad 11.64% 55.26% / 1);
}
@property --clr-brown-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.25667rad 0.5% 67.21% / 1);
}
@property --clr-brown-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.04454rad none 79.02% / 1);
}
@property --clr-brown-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.26085rad none 93.44% / 1);
}
@property --clr-brown-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.09954rad 48.61% none / 1);
}
@property --clr-brown-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(0.05751rad 39.44% none / 1);
}
@property --clr-brown-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.035rad none none / 1);
}
@property --clr-brown-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(6.01632rad none 21.51% / 1);
}
@property --clr-gray {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14361rad 48.97% 50.18% / 1);
}
@property --clr-gray-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14274rad 92.83% 6.23% / 1);
}
@property --clr-gray-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14274rad 86.37% 12.7% / 1);
}
@property --clr-gray-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14292rad 73.72% 25.37% / 1);
}
@property --clr-gray-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14326rad 61.47% 37.65% / 1);
}
@property --clr-gray-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14344rad 49.65% 49.5% / 1);
}
@property --clr-gray-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14396rad 38.33% 60.87% / 1);
}
@property --clr-gray-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14466rad 27.56% 71.68% / 1);
}
@property --clr-gray-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14571rad 17.45% 81.83% / 1);
}
@property --clr-gray-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.14798rad 8.18% 91.17% / 1);
}
@property --clr-gray-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.15112rad 1.11% 98.61% / 1);
}
@property --clr-gray-a100 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.67175rad none 24.63% / 1);
}
@property --clr-gray-a200 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.6796rad none 30.64% / 1);
}
@property --clr-gray-a400 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.69566rad none 42.34% / 1);
}
@property --clr-gray-a700 {
  syntax: "<color>";
  inherits: false;
  initial-value: hwb(2.64836rad none 58.79% / 1);
}
