:root {
	--clr-red: rgb(244,67,54);
	--clr-pink: rgb(233,30,99);
	--clr-purple: rgb(156,39,176);
	--clr-violet: rgb(103,58,183);
	--clr-indigo: rgb(63,81,181);
	--clr-blue: rgb(33,150,243);
	--clr-light-blue: rgb(3,169,244);
	--clr-cyan: rgb(0,188,212);
	--clr-teal: rgb(0,150,136);
	--clr-green: rgb(76,175,80);
	--clr-light-green: rgb(139,195,74);
	--clr-lime: rgb(205,220,57);
	--clr-yellow: rgb(255,235,59);
	--clr-amber: rgb(255,193,7);
	--clr-orange: rgb(255,152,0);
	--clr-deep-orange: rgb(255,87,34);
	--clr-brown: rgb(121,85,72);
	--clr-grey: rgb(158,158,158);
	--clr-blue-grey: rgb(96,125,139);
	--clr-green-grey: rgb(94,125,117);
}