:root {
	--clr-red: #e32636;
	--clr-pink: #fac;
	--clr-purple: #a40076;
	--clr-violet: #8a00a1;
	--clr-indigo: #324ab2;
	--clr-blue: #3939e5;
	--clr-light-blue: #42a1f5;
	--clr-cyan: #00bcd4;
	--clr-teal: #1f9682;
	--clr-green: #179132;
	--clr-light-green: #5bcc29;
	--clr-lime: #a5d053;
	--clr-yellow: #fefe22;
	--clr-amber: #f4c800;
	--clr-orange: #f4a900;
	--clr-deep-orange: #ea7500;
	--clr-brown: #8c6046;
	--clr-gray: #6b6b6b;
}