:root {

	/* Red */

	--clr-red: #f44336;
	--clr-red-50: #fbf6f6;
	--clr-red-100: #e5ada9;
	--clr-red-200: #dd7169;
	--clr-red-300: #dc3e33;
	--clr-red-400: #c7271b;
	--clr-red-500: #ac1c12;
	--clr-red-600: #96150c;
	--clr-red-700: #871108;
	--clr-red-800: #7d0f07;
	--clr-red-900: #790e07;
	--clr-red-A100: #f07d74;
	--clr-red-A200: #f65d52;
	--clr-red-A400: #f24235;
	--clr-red-A700: #cd372e;

	/* Pink */

	--clr-pink: #e91e63;
	--clr-pink-50: #fbf6f8;
	--clr-pink-100: #e3abbf;
	--clr-pink-200: #d96e92;
	--clr-pink-300: #d53a6f;
	--clr-pink-400: #c02157;
	--clr-pink-500: #a61848;
	--clr-pink-600: #91113d;
	--clr-pink-700: #820e35;
	--clr-pink-800: #780c30;
	--clr-pink-900: #740b2f;
	--clr-pink-A100: #d97295;
	--clr-pink-A200: #d5527e;
	--clr-pink-A400: #e91e63;
	--clr-pink-A700: #c41a54;

	/* Purple */

	--clr-purple: #9c27b0;
	--clr-purple-50: #faf6fb;
	--clr-purple-100: #d6b2dd;
	--clr-purple-200: #c17acd;
	--clr-purple-300: #b24bc4;
	--clr-purple-400: #9d33af;
	--clr-purple-500: #862895;
	--clr-purple-600: #742182;
	--clr-purple-700: #671b74;
	--clr-purple-800: #5f186c;
	--clr-purple-900: #5d1768;
	--clr-purple-A100: #ae7ab8;
	--clr-purple-A200: #9d60a8;
	--clr-purple-A400: #8d429a;
	--clr-purple-A700: #812092;

	/* Violet */

	--clr-violet: #673ab7;
	--clr-violet-50: #f8f7fa;
	--clr-violet-100: #c2b6d8;
	--clr-violet-200: #9a82c5;
	--clr-violet-300: #7a56b8;
	--clr-violet-400: #623ea3;
	--clr-violet-500: #52328c;
	--clr-violet-600: #47297a;
	--clr-violet-700: #3d236c;
	--clr-violet-800: #382064;
	--clr-violet-900: #361f61;
	--clr-violet-A100: #9b86bf;
	--clr-violet-A200: #866eb1;
	--clr-violet-A400: #7154a4;
	--clr-violet-A700: #5b34a3;

	/* Indigo */

	--clr-indigo: #3f51b5;
	--clr-indigo-50: #f7f7fa;
	--clr-indigo-100: #b7bcd7;
	--clr-indigo-200: #848dc3;
	--clr-indigo-300: #5967b5;
	--clr-indigo-400: #42509f;
	--clr-indigo-500: #354289;
	--clr-indigo-600: #2c3777;
	--clr-indigo-700: #263169;
	--clr-indigo-800: #222c62;
	--clr-indigo-900: #212a5f;
	--clr-indigo-A100: #8a93c4;
	--clr-indigo-A200: #727cb6;
	--clr-indigo-A400: #5965ac;
	--clr-indigo-A700: #3c4caa;

	/* Blue */

	--clr-blue: #2196f3;
	--clr-blue-50: #f6f9fb;
	--clr-blue-100: #a9cbe5;
	--clr-blue-200: #69aade;
	--clr-blue-300: #3391dc;
	--clr-blue-400: #1b7ac7;
	--clr-blue-500: #1268ac;
	--clr-blue-600: #0c5a96;
	--clr-blue-700: #084f87;
	--clr-blue-800: #07487d;
	--clr-blue-900: #074679;
	--clr-blue-A100: #4aa6f0;
	--clr-blue-A200: #2194f0;
	--clr-blue-A400: #1c80ce;
	--clr-blue-A700: #186cae;

	/* Light Blue */

	--clr-light-blue: #03a9f4;
	--clr-light-blue-50: #f6fafb;
	--clr-light-blue-100: #a7d4e8;
	--clr-light-blue-200: #64bbe3;
	--clr-light-blue-300: #2baae3;
	--clr-light-blue-400: #1394cf;
	--clr-light-blue-500: #0b7fb3;
	--clr-light-blue-600: #066d9d;
	--clr-light-blue-700: #04618c;
	--clr-light-blue-800: #025a82;
	--clr-light-blue-900: #02577e;
	--clr-light-blue-A100: #13c0ff;
	--clr-light-blue-A200: #03abf7;
	--clr-light-blue-A400: #0293d4;
	--clr-light-blue-A700: #027cb4;

	/* Cyan */

	--clr-cyan: #00bcd4;
	--clr-cyan-50: #f6fbfb;
	--clr-cyan-100: #a5e1e9;
	--clr-cyan-200: #63d5e4;
	--clr-cyan-300: #28d0e6;
	--clr-cyan-400: #10bbd1;
	--clr-cyan-500: #09a1b5;
	--clr-cyan-600: #048d9f;
	--clr-cyan-700: #027e8d;
	--clr-cyan-800: #007584;
	--clr-cyan-900: #007180;
	--clr-cyan-A100: #00e2ff;
	--clr-cyan-A200: #00c6df;
	--clr-cyan-A400: #00aabf;
	--clr-cyan-A700: #0090a2;

	/* Teal */

	--clr-teal: #009688;
	--clr-teal-50: #f6fbfb;
	--clr-teal-100: #a5e9e3;
	--clr-teal-200: #63e4d8;
	--clr-teal-300: #28e6d4;
	--clr-teal-400: #10d1bf;
	--clr-teal-500: #09b5a5;
	--clr-teal-600: #049f91;
	--clr-teal-700: #028d81;
	--clr-teal-800: #008477;
	--clr-teal-900: #008074;
	--clr-teal-A100: #53ccc1;
	--clr-teal-A200: #22c9ba;
	--clr-teal-A400: #00beac;
	--clr-teal-A700: #00a191;

	/* Green */

	--clr-green: #4caf50;
	--clr-green-50: #f7faf7;
	--clr-green-100: #bad4bb;
	--clr-green-200: #8abc8c;
	--clr-green-300: #62ac65;
	--clr-green-400: #4a974e;
	--clr-green-500: #3d8140;
	--clr-green-600: #336f36;
	--clr-green-700: #2c632f;
	--clr-green-800: #285c2a;
	--clr-green-900: #275929;
	--clr-green-A100: #78ec7d;
	--clr-green-A200: #61df65;
	--clr-green-A400: #53c057;
	--clr-green-A700: #46a24a;

	/* Light Green */

	--clr-light-green: #8bc34a;
	--clr-light-green-50: #f9faf7;
	--clr-light-green-100: #c8d8b6;
	--clr-light-green-200: #a6c482;
	--clr-light-green-300: #8bb658;
	--clr-light-green-400: #74a140;
	--clr-light-green-500: #628b33;
	--clr-light-green-600: #54782b;
	--clr-light-green-700: #4a6b25;
	--clr-light-green-800: #446321;
	--clr-light-green-900: #426020;
	--clr-light-green-A100: #a4e558;
	--clr-light-green-A200: #8fc94d;
	--clr-light-green-A400: #7bad41;
	--clr-light-green-A700: #689238;

	/* Lime */

	--clr-lime: #cddc39;
	--clr-lime-50: #fafbf6;
	--clr-lime-100: #dadeb0;
	--clr-lime-200: #c8d076;
	--clr-lime-300: #bec945;
	--clr-lime-400: #a8b52d;
	--clr-lime-500: #909b23;
	--clr-lime-600: #7e871b;
	--clr-lime-700: #707917;
	--clr-lime-800: #677014;
	--clr-lime-900: #646c13;
	--clr-lime-A100: #cddb38;
	--clr-lime-A200: #b3c032;
	--clr-lime-A400: #99a52b;
	--clr-lime-A700: #828c24;

	/* Yellow */

	--clr-yellow: #ffeb3b;
	--clr-yellow-50: #fbfbf6;
	--clr-yellow-100: #e9e2a5;
	--clr-yellow-200: #e4d763;
	--clr-yellow-300: #e6d328;
	--clr-yellow-400: #d1bd10;
	--clr-yellow-500: #b5a409;
	--clr-yellow-600: #9f8f04;
	--clr-yellow-700: #8d8002;
	--clr-yellow-800: #847600;
	--clr-yellow-900: #807200;
	--clr-yellow-A100: #dfcd34;
	--clr-yellow-A200: #c3b42e;
	--clr-yellow-A400: #a89a27;
	--clr-yellow-A700: #8e8322;

	/* Amber */

	--clr-amber: #ffc107;
	--clr-amber-50: #fbfaf6;
	--clr-amber-100: #e9d8a5;
	--clr-amber-200: #e4c463;
	--clr-amber-300: #e6b628;
	--clr-amber-400: #d1a110;
	--clr-amber-500: #b58a09;
	--clr-amber-600: #9f7804;
	--clr-amber-700: #8d6a02;
	--clr-amber-800: #846300;
	--clr-amber-900: #806000;
	--clr-amber-A100: #ffcc08;
	--clr-amber-A200: #ecb306;
	--clr-amber-A400: #cb9905;
	--clr-amber-A700: #ad8104;

	/* Orange */

	--clr-orange: #ff9800;
	--clr-orange-50: #fbf9f6;
	--clr-orange-100: #e9cea5;
	--clr-orange-200: #e4b063;
	--clr-orange-300: #e69928;
	--clr-orange-400: #d18310;
	--clr-orange-500: #b56f09;
	--clr-orange-600: #9f6004;
	--clr-orange-700: #8d5502;
	--clr-orange-800: #844e00;
	--clr-orange-900: #804c00;
	--clr-orange-A100: #ffb400;
	--clr-orange-A200: #ff9d00;
	--clr-orange-A400: #e38700;
	--clr-orange-A700: #c07200;

	/* Deep Orange */

	--clr-deep-orange: #ff5722;
	--clr-deep-orange-50: #fbf7f6;
	--clr-deep-orange-100: #e9b6a5;
	--clr-deep-orange-200: #e48263;
	--clr-deep-orange-300: #e65628;
	--clr-deep-orange-400: #d13e10;
	--clr-deep-orange-500: #b53209;
	--clr-deep-orange-600: #9f2904;
	--clr-deep-orange-700: #8d2302;
	--clr-deep-orange-800: #842000;
	--clr-deep-orange-900: #801f00;
	--clr-deep-orange-A100: #ff8258;
	--clr-deep-orange-A200: #ff6226;
	--clr-deep-orange-A400: #f55420;
	--clr-deep-orange-A700: #cf461c;

	/* Brown */

	--clr-brown: #795548;
	--clr-brown-50: #f9f8f8;
	--clr-brown-100: #cfc3bf;
	--clr-brown-200: #b49b93;
	--clr-brown-300: #a07c6f;
	--clr-brown-400: #896558;
	--clr-brown-500: #755549;
	--clr-brown-600: #65483e;
	--clr-brown-700: #5a3f35;
	--clr-brown-800: #523a31;
	--clr-brown-900: #503830;
	--clr-brown-A100: #b09c94;
	--clr-brown-A200: #9f877e;
	--clr-brown-A400: #907268;
	--clr-brown-A700: #865e4f;

	/* Grey */

	--clr-grey: #9e9e9e;
	--clr-grey-50: #f9f9f9;
	--clr-grey-100: #c7c7c7;
	--clr-grey-200: #a3a3a3;
	--clr-grey-300: #878787;
	--clr-grey-400: #717171;
	--clr-grey-500: #5f5f5f;
	--clr-grey-600: #515151;
	--clr-grey-700: #484848;
	--clr-grey-800: #424242;
	--clr-grey-900: #404040;
	--clr-grey-A100: #a0a0a0;
	--clr-grey-A200: #8c8c8c;
	--clr-grey-A400: #787878;
	--clr-grey-A700: #666666;

	/* Blue Grey */

	--clr-blue-grey: #607d8b;
	--clr-blue-grey-50: #f8f9f9;
	--clr-blue-grey-100: #c1c9cd;
	--clr-blue-grey-200: #97a7af;
	--clr-blue-grey-300: #768d98;
	--clr-blue-grey-400: #5f7782;
	--clr-blue-grey-500: #50646e;
	--clr-blue-grey-600: #43575f;
	--clr-blue-grey-700: #3b4c55;
	--clr-blue-grey-800: #36464e;
	--clr-blue-grey-900: #34444b;
	--clr-blue-grey-A100: #90a4ad;
	--clr-blue-grey-A200: #79909c;
	--clr-blue-grey-A400: #607d8b;
	--clr-blue-grey-A700: #516a76;

	/* Green Grey */

	--clr-green-grey: #5e7d75;
	--clr-green-grey-50: #f8f9f9;
	--clr-green-grey-100: #c2ccc9;
	--clr-green-grey-200: #9aaca8;
	--clr-green-grey-300: #7a948d;
	--clr-green-grey-400: #637f77;
	--clr-green-grey-500: #536b64;
	--clr-green-grey-600: #475c57;
	--clr-green-grey-700: #3d524d;
	--clr-green-grey-800: #384b46;
	--clr-green-grey-900: #374944;
	--clr-green-grey-A100: #94a9a4;
	--clr-green-grey-A200: #7d9790;
	--clr-green-grey-A400: #66867d;
	--clr-green-grey-A700: #56726a;
}