:root {

	/* Red */

	--clr-red: #f44336;
	--clr-red-100: #ff483a;
	--clr-red-200: #ff5545;
	--clr-red-300: #ff5e4d;
	--clr-red-400: #ff5f4e;
	--clr-red-500: #ff5747;
	--clr-red-600: #fa4538;
	--clr-red-700: #b42b23;
	--clr-red-800: #5d0a05;
	--clr-red-900: #0a0000;
	--clr-red-1000: #000000;

	/* Pink */

	--clr-pink: #e91e63;
	--clr-pink-100: #f62269;
	--clr-pink-200: #ff427b;
	--clr-pink-300: #ff5889;
	--clr-pink-400: #ff5a8a;
	--clr-pink-500: #ff467e;
	--clr-pink-600: #ef2066;
	--clr-pink-700: #a80843;
	--clr-pink-800: #50001a;
	--clr-pink-900: #000000;
	--clr-pink-1000: #000000;

	/* Purple */

	--clr-purple: #9c27b0;
	--clr-purple-100: #a62cbb;
	--clr-purple-200: #c33bda;
	--clr-purple-300: #d94cf2;
	--clr-purple-400: #db4df4;
	--clr-purple-500: #c83ddf;
	--clr-purple-600: #a129b5;
	--clr-purple-700: #690a79;
	--clr-purple-800: #270030;
	--clr-purple-900: #000000;
	--clr-purple-1000: #000000;

	/* Violet */

	--clr-violet: #673ab7;
	--clr-violet-100: #6f40c3;
	--clr-violet-200: #8750e5;
	--clr-violet-300: #985cff;
	--clr-violet-400: #9a5dff;
	--clr-violet-500: #8a52ea;
	--clr-violet-600: #6b3dbd;
	--clr-violet-700: #3e1e7b;
	--clr-violet-800: #11002d;
	--clr-violet-900: #000000;
	--clr-violet-1000: #000000;

	/* Indigo */

	--clr-indigo: #3f51b5;
	--clr-indigo-100: #4457c1;
	--clr-indigo-200: #556ae6;
	--clr-indigo-300: #6178ff;
	--clr-indigo-400: #6279ff;
	--clr-indigo-500: #576deb;
	--clr-indigo-600: #4254bb;
	--clr-indigo-700: #233176;
	--clr-indigo-800: #020025;
	--clr-indigo-900: #000000;
	--clr-indigo-1000: #000000;

	/* Blue */

	--clr-blue: #2196f3;
	--clr-blue-100: #229eff;
	--clr-blue-200: #4eb5ff;
	--clr-blue-300: #65c6ff;
	--clr-blue-400: #67c7ff;
	--clr-blue-500: #53b8ff;
	--clr-blue-600: #1f9af9;
	--clr-blue-700: #2d6eae;
	--clr-blue-800: #253851;
	--clr-blue-900: #000000;
	--clr-blue-1000: #000000;

	/* Light Blue */

	--clr-light-blue: #03a9f4;
	--clr-light-blue-100: #22b1ff;
	--clr-light-blue-200: #4ec9ff;
	--clr-light-blue-300: #66dcff;
	--clr-light-blue-400: #67ddff;
	--clr-light-blue-500: #53cdff;
	--clr-light-blue-600: #15adfa;
	--clr-light-blue-700: #357eaf;
	--clr-light-blue-800: #354553;
	--clr-light-blue-900: #020202;
	--clr-light-blue-1000: #000000;

	/* Cyan */

	--clr-cyan: #00bcd4;
	--clr-cyan-100: #20c5df;
	--clr-cyan-200: #4adfff;
	--clr-cyan-300: #63f3ff;
	--clr-cyan-400: #64f4ff;
	--clr-cyan-500: #50e3ff;
	--clr-cyan-600: #13c0d9;
	--clr-cyan-700: #458d9b;
	--clr-cyan-800: #4b4d4e;
	--clr-cyan-900: #101010;
	--clr-cyan-1000: #000000;

	/* Teal */

	--clr-teal: #009688;
	--clr-teal-100: #189f90;
	--clr-teal-200: #3bb8a6;
	--clr-teal-300: #50cbb7;
	--clr-teal-400: #51ccb8;
	--clr-teal-500: #40bca9;
	--clr-teal-600: #0d9a8c;
	--clr-teal-700: #2e6961;
	--clr-teal-800: #2d2d2d;
	--clr-teal-900: #000000;
	--clr-teal-1000: #000000;

	/* Green */

	--clr-green: #4caf50;
	--clr-green-100: #4fb853;
	--clr-green-200: #57d15d;
	--clr-green-300: #5de465;
	--clr-green-400: #5de565;
	--clr-green-500: #58d55f;
	--clr-green-600: #4db352;
	--clr-green-700: #3d823e;
	--clr-green-800: #264626;
	--clr-green-900: #000000;
	--clr-green-1000: #000000;

	/* Light Green */

	--clr-light-green: #8bc34a;
	--clr-light-green-100: #90cb4c;
	--clr-light-green-200: #a1e552;
	--clr-light-green-300: #adf756;
	--clr-light-green-400: #adf957;
	--clr-light-green-500: #a3e853;
	--clr-light-green-600: #8ec74b;
	--clr-light-green-700: #6e973f;
	--clr-light-green-800: #465a2e;
	--clr-light-green-900: #171717;
	--clr-light-green-1000: #000000;

	/* Lime */

	--clr-lime: #cddc39;
	--clr-lime-100: #d5e439;
	--clr-lime-200: #ebfd3b;
	--clr-lime-300: #fbff4f;
	--clr-lime-400: #fcff50;
	--clr-lime-500: #eeff3f;
	--clr-lime-600: #d1e039;
	--clr-lime-700: #a5b035;
	--clr-lime-800: #6e742d;
	--clr-lime-900: #2f2f1e;
	--clr-lime-1000: #000000;

	/* Yellow */

	--clr-yellow: #ffeb3b;
	--clr-yellow-100: #fff33b;
	--clr-yellow-200: #ffff3e;
	--clr-yellow-300: #ffff53;
	--clr-yellow-400: #ffff55;
	--clr-yellow-500: #ffff43;
	--clr-yellow-600: #ffef3b;
	--clr-yellow-700: #d1c039;
	--clr-yellow-800: #908433;
	--clr-yellow-900: #454027;
	--clr-yellow-1000: #000000;

	/* Amber */

	--clr-amber: #ffc107;
	--clr-amber-100: #ffc816;
	--clr-amber-200: #ffdf38;
	--clr-amber-300: #ffef4b;
	--clr-amber-400: #fff04d;
	--clr-amber-500: #ffe23c;
	--clr-amber-600: #ffc50c;
	--clr-amber-700: #cb9a13;
	--clr-amber-800: #836415;
	--clr-amber-900: #33270e;
	--clr-amber-1000: #000000;

	/* Orange */

	--clr-orange: #ff9800;
	--clr-orange-100: #ff9f13;
	--clr-orange-200: #ffb232;
	--clr-orange-300: #ffc144;
	--clr-orange-400: #ffc245;
	--clr-orange-500: #ffb535;
	--clr-orange-600: #ff9b09;
	--clr-orange-700: #c67504;
	--clr-orange-800: #784605;
	--clr-orange-900: #251100;
	--clr-orange-1000: #000000;

	/* Deep Orange */

	--clr-deep-orange: #ff5722;
	--clr-deep-orange-100: #ff5c25;
	--clr-deep-orange-200: #ff6b2d;
	--clr-deep-orange-300: #ff7537;
	--clr-deep-orange-400: #ff7638;
	--clr-deep-orange-500: #ff6d2e;
	--clr-deep-orange-600: #ff5923;
	--clr-deep-orange-700: #c03c13;
	--clr-deep-orange-800: #6a1800;
	--clr-deep-orange-900: #1d0000;
	--clr-deep-orange-1000: #000000;

	/* Brown */

	--clr-brown: #795548;
	--clr-brown-100: #845a4b;
	--clr-brown-200: #a56a55;
	--clr-brown-300: #bd765c;
	--clr-brown-400: #bf775d;
	--clr-brown-500: #a96d57;
	--clr-brown-600: #7e584a;
	--clr-brown-700: #403936;
	--clr-brown-800: #080808;
	--clr-brown-900: #000000;
	--clr-brown-1000: #000000;

	/* Grey */

	--clr-grey: #9e9e9e;
	--clr-grey-100: #aba4a6;
	--clr-grey-200: #d0b5bc;
	--clr-grey-300: #ecc1cd;
	--clr-grey-400: #eec2ce;
	--clr-grey-500: #d6b7bf;
	--clr-grey-600: #a4a1a2;
	--clr-grey-700: #777777;
	--clr-grey-800: #424242;
	--clr-grey-900: #000000;
	--clr-grey-1000: #000000;

	/* Blue Grey */

	--clr-blue-grey: #607d8b;
	--clr-blue-grey-100: #608596;
	--clr-blue-grey-200: #5f9db8;
	--clr-blue-grey-300: #5aafd2;
	--clr-blue-grey-400: #5ab1d4;
	--clr-blue-grey-500: #5ea1be;
	--clr-blue-grey-600: #608190;
	--clr-blue-grey-700: #545454;
	--clr-blue-grey-800: #222222;
	--clr-blue-grey-900: #000000;
	--clr-blue-grey-1000: #000000;

	/* Green Grey */

	--clr-green-grey: #5e7d75;
	--clr-green-grey-100: #5f867c;
	--clr-green-grey-200: #609f90;
	--clr-green-grey-300: #5fb29f;
	--clr-green-grey-400: #5eb3a0;
	--clr-green-grey-500: #60a293;
	--clr-green-grey-600: #5e8178;
	--clr-green-grey-700: #525252;
	--clr-green-grey-800: #212121;
	--clr-green-grey-900: #000000;
	--clr-green-grey-1000: #000000;
}