:root {

	/* Red */

	--clr-red: #f44336;
	--clr-red-50: #ffbe8a;
	--clr-red-100: #ffbe8a;
	--clr-red-200: #ffbe8a;
	--clr-red-300: #ffbe8a;
	--clr-red-400: #ffbe8a;
	--clr-red-500: #ffbe8a;
	--clr-red-600: #ffbe8a;
	--clr-red-700: #ffbe8a;
	--clr-red-800: #ffbe8a;
	--clr-red-900: #ffbe8a;
	--clr-red-A100: #890000;
	--clr-red-A200: #890000;
	--clr-red-A400: #890000;
	--clr-red-A700: #890000;

	/* Pink */

	--clr-pink: #e91e63;
	--clr-pink-50: #ffc0da;
	--clr-pink-100: #ffc0da;
	--clr-pink-200: #ffc0da;
	--clr-pink-300: #ffc0da;
	--clr-pink-400: #ffc0da;
	--clr-pink-500: #ffc0da;
	--clr-pink-600: #ffc0da;
	--clr-pink-700: #ffc0da;
	--clr-pink-800: #ffc0da;
	--clr-pink-900: #ffc0da;
	--clr-pink-A100: #890020;
	--clr-pink-A200: #890020;
	--clr-pink-A400: #890020;
	--clr-pink-A700: #890020;

	/* Purple */

	--clr-purple: #9c27b0;
	--clr-purple-50: #ffb7ff;
	--clr-purple-100: #ffb7ff;
	--clr-purple-200: #ffb7ff;
	--clr-purple-300: #ffb7ff;
	--clr-purple-400: #ffb7ff;
	--clr-purple-500: #ffb7ff;
	--clr-purple-600: #ffb7ff;
	--clr-purple-700: #ffb7ff;
	--clr-purple-800: #ffb7ff;
	--clr-purple-900: #ffb7ff;
	--clr-purple-A100: #58006f;
	--clr-purple-A200: #58006f;
	--clr-purple-A400: #58006f;
	--clr-purple-A700: #58006f;

	/* Violet */

	--clr-violet: #673ab7;
	--clr-violet-50: #ffa6ff;
	--clr-violet-100: #ffa6ff;
	--clr-violet-200: #ffa6ff;
	--clr-violet-300: #ffa6ff;
	--clr-violet-400: #ffa6ff;
	--clr-violet-500: #ffa6ff;
	--clr-violet-600: #ffa6ff;
	--clr-violet-700: #ffa6ff;
	--clr-violet-800: #ffa6ff;
	--clr-violet-900: #ffa6ff;
	--clr-violet-A100: #25007c;
	--clr-violet-A200: #25007c;
	--clr-violet-A400: #25007c;
	--clr-violet-A700: #25007c;

	/* Indigo */

	--clr-indigo: #3f51b5;
	--clr-indigo-50: #daceff;
	--clr-indigo-100: #daceff;
	--clr-indigo-200: #daceff;
	--clr-indigo-300: #daceff;
	--clr-indigo-400: #daceff;
	--clr-indigo-500: #daceff;
	--clr-indigo-600: #daceff;
	--clr-indigo-700: #daceff;
	--clr-indigo-800: #daceff;
	--clr-indigo-900: #daceff;
	--clr-indigo-A100: #001f77;
	--clr-indigo-A200: #001f77;
	--clr-indigo-A400: #001f77;
	--clr-indigo-A700: #001f77;

	/* Blue */

	--clr-blue: #2196f3;
	--clr-blue-50: #d4ffff;
	--clr-blue-100: #d4ffff;
	--clr-blue-200: #d4ffff;
	--clr-blue-300: #d4ffff;
	--clr-blue-400: #d4ffff;
	--clr-blue-500: #d4ffff;
	--clr-blue-600: #d4ffff;
	--clr-blue-700: #d4ffff;
	--clr-blue-800: #d4ffff;
	--clr-blue-900: #d4ffff;
	--clr-blue-A100: #003f8e;
	--clr-blue-A200: #003f8e;
	--clr-blue-A400: #003f8e;
	--clr-blue-A700: #003f8e;

	/* Light Blue */

	--clr-light-blue: #03a9f4;
	--clr-light-blue-50: #d5ffff;
	--clr-light-blue-100: #d5ffff;
	--clr-light-blue-200: #d5ffff;
	--clr-light-blue-300: #d5ffff;
	--clr-light-blue-400: #d5ffff;
	--clr-light-blue-500: #d5ffff;
	--clr-light-blue-600: #d5ffff;
	--clr-light-blue-700: #d5ffff;
	--clr-light-blue-800: #d5ffff;
	--clr-light-blue-900: #d5ffff;
	--clr-light-blue-A100: #004787;
	--clr-light-blue-A200: #004787;
	--clr-light-blue-A400: #004787;
	--clr-light-blue-A700: #004787;

	/* Cyan */

	--clr-cyan: #00bcd4;
	--clr-cyan-50: #d8ffff;
	--clr-cyan-100: #d8ffff;
	--clr-cyan-200: #d8ffff;
	--clr-cyan-300: #d8ffff;
	--clr-cyan-400: #d8ffff;
	--clr-cyan-500: #d8ffff;
	--clr-cyan-600: #d8ffff;
	--clr-cyan-700: #d8ffff;
	--clr-cyan-800: #d8ffff;
	--clr-cyan-900: #d8ffff;
	--clr-cyan-A100: #004f65;
	--clr-cyan-A200: #004f65;
	--clr-cyan-A400: #004f65;
	--clr-cyan-A700: #004f65;

	/* Teal */

	--clr-teal: #009688;
	--clr-teal-50: #b7ffff;
	--clr-teal-100: #b7ffff;
	--clr-teal-200: #b7ffff;
	--clr-teal-300: #b7ffff;
	--clr-teal-400: #b7ffff;
	--clr-teal-500: #b7ffff;
	--clr-teal-600: #b7ffff;
	--clr-teal-700: #b7ffff;
	--clr-teal-800: #b7ffff;
	--clr-teal-900: #b7ffff;
	--clr-teal-A100: #004138;
	--clr-teal-A200: #004138;
	--clr-teal-A400: #004138;
	--clr-teal-A700: #004138;

	/* Green */

	--clr-green: #4caf50;
	--clr-green-50: #c4ffa3;
	--clr-green-100: #c4ffa3;
	--clr-green-200: #c4ffa3;
	--clr-green-300: #c4ffa3;
	--clr-green-400: #c4ffa3;
	--clr-green-500: #c4ffa3;
	--clr-green-600: #c4ffa3;
	--clr-green-700: #c4ffa3;
	--clr-green-800: #c4ffa3;
	--clr-green-900: #c4ffa3;
	--clr-green-A100: #004b00;
	--clr-green-A200: #004b00;
	--clr-green-A400: #004b00;
	--clr-green-A700: #004b00;

	/* Light Green */

	--clr-light-green: #8bc34a;
	--clr-light-green-50: #ebffaa;
	--clr-light-green-100: #ebffaa;
	--clr-light-green-200: #ebffaa;
	--clr-light-green-300: #ebffaa;
	--clr-light-green-400: #ebffaa;
	--clr-light-green-500: #ebffaa;
	--clr-light-green-600: #ebffaa;
	--clr-light-green-700: #ebffaa;
	--clr-light-green-800: #ebffaa;
	--clr-light-green-900: #ebffaa;
	--clr-light-green-A100: #125100;
	--clr-light-green-A200: #125100;
	--clr-light-green-A400: #125100;
	--clr-light-green-A700: #125100;

	/* Lime */

	--clr-lime: #cddc39;
	--clr-lime-50: #ffffb3;
	--clr-lime-100: #ffffb3;
	--clr-lime-200: #ffffb3;
	--clr-lime-300: #ffffb3;
	--clr-lime-400: #ffffb3;
	--clr-lime-500: #ffffb3;
	--clr-lime-600: #ffffb3;
	--clr-lime-700: #ffffb3;
	--clr-lime-800: #ffffb3;
	--clr-lime-900: #ffffb3;
	--clr-lime-A100: #415800;
	--clr-lime-A200: #415800;
	--clr-lime-A400: #415800;
	--clr-lime-A700: #415800;

	/* Yellow */

	--clr-yellow: #ffeb3b;
	--clr-yellow-50: #ffffb9;
	--clr-yellow-100: #ffffb9;
	--clr-yellow-200: #ffffb9;
	--clr-yellow-300: #ffffb9;
	--clr-yellow-400: #ffffb9;
	--clr-yellow-500: #ffffb9;
	--clr-yellow-600: #ffffb9;
	--clr-yellow-700: #ffffb9;
	--clr-yellow-800: #ffffb9;
	--clr-yellow-900: #ffffb9;
	--clr-yellow-A100: #5e5a00;
	--clr-yellow-A200: #5e5a00;
	--clr-yellow-A400: #5e5a00;
	--clr-yellow-A700: #5e5a00;

	/* Amber */

	--clr-amber: #ffc107;
	--clr-amber-50: #ffffac;
	--clr-amber-100: #ffffac;
	--clr-amber-200: #ffffac;
	--clr-amber-300: #ffffac;
	--clr-amber-400: #ffffac;
	--clr-amber-500: #ffffac;
	--clr-amber-600: #ffffac;
	--clr-amber-700: #ffffac;
	--clr-amber-800: #ffffac;
	--clr-amber-900: #ffffac;
	--clr-amber-A100: #6e4500;
	--clr-amber-A200: #6e4500;
	--clr-amber-A400: #6e4500;
	--clr-amber-A700: #6e4500;

	/* Orange */

	--clr-orange: #ff9800;
	--clr-orange-50: #ffff9e;
	--clr-orange-100: #ffff9e;
	--clr-orange-200: #ffff9e;
	--clr-orange-300: #ffff9e;
	--clr-orange-400: #ffff9e;
	--clr-orange-500: #ffff9e;
	--clr-orange-600: #ffff9e;
	--clr-orange-700: #ffff9e;
	--clr-orange-800: #ffff9e;
	--clr-orange-900: #ffff9e;
	--clr-orange-A100: #7b2c00;
	--clr-orange-A200: #7b2c00;
	--clr-orange-A400: #7b2c00;
	--clr-orange-A700: #7b2c00;

	/* Deep Orange */

	--clr-deep-orange: #ff5722;
	--clr-deep-orange-50: #ffbe8a;
	--clr-deep-orange-100: #ffbe8a;
	--clr-deep-orange-200: #ffbe8a;
	--clr-deep-orange-300: #ffbe8a;
	--clr-deep-orange-400: #ffbe8a;
	--clr-deep-orange-500: #ffbe8a;
	--clr-deep-orange-600: #ffbe8a;
	--clr-deep-orange-700: #ffbe8a;
	--clr-deep-orange-800: #ffbe8a;
	--clr-deep-orange-900: #ffbe8a;
	--clr-deep-orange-A100: #8c0000;
	--clr-deep-orange-A200: #8c0000;
	--clr-deep-orange-A400: #8c0000;
	--clr-deep-orange-A700: #8c0000;

	/* Brown */

	--clr-brown: #795548;
	--clr-brown-50: #ffbb86;
	--clr-brown-100: #ffbb86;
	--clr-brown-200: #ffbb86;
	--clr-brown-300: #ffbb86;
	--clr-brown-400: #ffbb86;
	--clr-brown-500: #ffbb86;
	--clr-brown-600: #ffbb86;
	--clr-brown-700: #ffbb86;
	--clr-brown-800: #ffbb86;
	--clr-brown-900: #ffbb86;
	--clr-brown-A100: #3d2015;
	--clr-brown-A200: #3d2015;
	--clr-brown-A400: #3d2015;
	--clr-brown-A700: #3d2015;

	/* Grey */

	--clr-grey: #9e9e9e;
	--clr-grey-50: #ffffff;
	--clr-grey-100: #ffffff;
	--clr-grey-200: #ffffff;
	--clr-grey-300: #ffffff;
	--clr-grey-400: #ffffff;
	--clr-grey-500: #ffffff;
	--clr-grey-600: #ffffff;
	--clr-grey-700: #ffffff;
	--clr-grey-800: #ffffff;
	--clr-grey-900: #ffffff;
	--clr-grey-A100: #3e3e3e;
	--clr-grey-A200: #3e3e3e;
	--clr-grey-A400: #3e3e3e;
	--clr-grey-A700: #3e3e3e;

	/* Blue Grey */

	--clr-blue-grey: #607d8b;
	--clr-blue-grey-50: #c4ffff;
	--clr-blue-grey-100: #c4ffff;
	--clr-blue-grey-200: #c4ffff;
	--clr-blue-grey-300: #c4ffff;
	--clr-blue-grey-400: #c4ffff;
	--clr-blue-grey-500: #c4ffff;
	--clr-blue-grey-600: #c4ffff;
	--clr-blue-grey-700: #c4ffff;
	--clr-blue-grey-800: #c4ffff;
	--clr-blue-grey-900: #c4ffff;
	--clr-blue-grey-A100: #173541;
	--clr-blue-grey-A200: #173541;
	--clr-blue-grey-A400: #173541;
	--clr-blue-grey-A700: #173541;

	/* Green Grey */

	--clr-green-grey: #5e7d75;
	--clr-green-grey-50: #adfff7;
	--clr-green-grey-100: #adfff7;
	--clr-green-grey-200: #adfff7;
	--clr-green-grey-300: #adfff7;
	--clr-green-grey-400: #adfff7;
	--clr-green-grey-500: #adfff7;
	--clr-green-grey-600: #adfff7;
	--clr-green-grey-700: #adfff7;
	--clr-green-grey-800: #adfff7;
	--clr-green-grey-900: #adfff7;
	--clr-green-grey-A100: #18352f;
	--clr-green-grey-A200: #18352f;
	--clr-green-grey-A400: #18352f;
	--clr-green-grey-A700: #18352f;
}